Repository princemuel/princemuel.com: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, js-format, rust-lint, rust-autofix, rust-format

js-lint:
  run: npx @biomejs/biome check --fix --unsafe --assists-enabled=true --no-errors-on-unmatched --use-editorconfig=true --files-ignore-unknown=true --colors=off {staged_files}

js-format:
  run: npx prettier {staged_files} -w -u --no-error-on-unmatched-pattern --config ./.prettierrc.json --cache
  stage_fixed: true

rust-lint:
  run: cargo clippy -- --deny warnings

rust-autofix:
  run: cargo fix --allow-dirty --allow-staged

rust-format:
  run: cargo fmt --all
  stage_fixed: true

docs: update README
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/suggestion.yml
  .github/pull_request_template.md
  .github/workflows/blog_posts.yml
  README.md
  app/content/resources/authors.json
  app/layouts/meta.astro
  app/pages/legal/privacy-policy.md
  app/pages/opensearch.xml.ts
  docs/CONTRIBUTORS.txt
  docs/SETUP.md
Due: js-lint, js-format

fix: resolve robots txt issue
  app/assets/index.ts
  app/components/content/markdown.astro
  app/components/layout/header.astro
  app/components/primitives/pattern.astro
  app/layouts/meta.astro
  app/pages/about-me.astro
  app/pages/blog/[slug]/og.png.ts
  app/pages/confetti.html.ts
  app/pages/resume.pdf.ts
  app/pages/robots.txt.ts
  app/schema/jsonld.ts
  config/env-schema.ts
Due: js-lint, js-format

fix: resolve robots txt issue
  app/components/layout/routes.astro
  app/layouts/meta.astro
  app/pages/api/visits.ts
  app/pages/humans.txt.ts
  app/pages/journal/[year]/[month]/[slug].astro
  app/pages/journal/index.astro
  app/pages/resume.pdf.ts
  app/pages/robots.txt.ts
Due: js-lint, js-format

chore: install tailwindcss beta packages
  package-lock.json
  package.json
Due: js-lint

chore(ci): setup tailwindcss coonfig
  .astro/icon.d.ts
  .postcssrc.json
  .prettierrc.json
  app/assets/styles/global.css
  config/fonts.mjs
  ec.config.mjs
  tailwind.config.js
  tailwind.json
Due: js-lint

feat!: migrate project styles to tailwindcss v4 beta
  .astro/icon.d.ts
  app/components/layout/container.astro
  app/components/layout/content-slot.astro
  app/components/layout/footer.astro
  app/components/layout/header.astro
  app/layouts/legal.astro
  app/layouts/meta.astro
  app/pages/404.astro
  app/pages/about-me.astro
  app/pages/blog/[slug]/index.astro
  app/pages/blog/index.astro
  app/pages/index.astro
  app/pages/journal/[year]/[month]/[slug].astro
  app/pages/journal/index.astro
  app/pages/offline.astro
  app/pages/projects/[...page].astro
  app/pages/projects/[slug]/index.astro
  app/pages/wiki/accessibility.astro
  app/pages/wiki/license.astro
Due: js-lint, js-format

feat(icons): update types
  .astro/icon.d.ts
Due: js-lint

chore(deps): bump dependencies to latest
  .astro/icon.d.ts
  .github/workflows/deploy.yml
  .postcssrc.json
  astro.config.ts
  config/integrations.ts
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: js-lint, js-format

chore: bump astro, tailwind deps to latest
  astro.config.ts
  package.json
  pnpm-lock.yaml
Due: js-lint, js-format

feat: use tailwindcss as vite plugin
  app/global.css
  astro.config.ts
  package.json
  pnpm-lock.yaml
Due: js-lint, js-format

chore: temp disable dark mode
  app/assets/scripts/pwa.ts
  app/components/content/markdown.astro
  app/components/layout/header.astro
  app/components/widgets/reload-prompt.astro
  app/components/widgets/theme-provider.astro
  app/layouts/root.astro
  config/icons.json
  config/integrations.ts
Due: js-lint, js-format

feat: update content collections schema
  .astro/icon.d.ts
  app/content/config.ts
  app/pages/api/stargazers.ts
  app/pages/blog/[slug]/index.astro
  app/pages/blog/[slug]/og.png.ts
  app/pages/blog/feed.xml.ts
  app/pages/index.astro
  app/pages/journal/[year]/[month]/[slug].astro
  app/pages/projects/[slug]/index.astro
  app/pages/rss.xml.ts
  app/schema/content.ts
Due: js-lint, js-format

feat: move clients setup to lib
  app/actions/contact.ts
  app/actions/subscribe.ts
  app/assets/icons/dot.svg
  app/assets/index.ts
  app/helpers/rate-limit.ts
  app/lib/clients.ts
Due: js-lint

feat: update github loader
  app/lib/loaders/github/loader.ts
  app/lib/loaders/github/processor.ts
Due: js-lint

feat: update accessibility page
  app/content/pages/accessibility.md
Due: js-format

feat: add content schema sync script
  .astro/icon.d.ts
  scripts/periodic-sync.js
  scripts/sync-schema
Due: js-lint

chore: update global styles
  .astro/icon.d.ts
  app/components/layout/footer.astro
  app/components/layout/header.astro
  app/components/layout/routes.astro
  app/components/layout/site-status.astro
  app/components/primitives/skeleton.astro
  app/components/shared/attribution.astro
  app/components/shared/skip-link.astro
  app/components/widgets/theme-picker.astro
  app/global.css
  app/layouts/legal.astro
  app/layouts/root.astro
  app/pages/404.astro
  app/pages/about-me.astro
  app/pages/articles/index.astro
  app/pages/blog/[slug]/index.astro
  app/pages/blog/[slug]/og.png.ts
  app/pages/blog/index.astro
  app/pages/index.astro
  app/pages/journal/[year]/[month]/[slug].astro
  app/pages/journal/index.astro
  app/pages/offline.astro
  app/pages/projects/[...page].astro
  app/pages/projects/[slug]/index.astro
  app/pages/wiki/accessibility.astro
  app/pages/wiki/license.astro
Due: js-lint, js-format

chore: move resource files to wiki dir
  app/pages/wiki/changelog.xml.ts
  app/pages/wiki/resume.pdf.ts
Due: js-lint

docs: layout project ideas and todos
  docs/TODOS.md
Due: js-format

feat: add social icon assets
  app/assets/icons/codepen.svg
  app/assets/icons/discord.svg
  app/assets/icons/email.svg
  app/assets/icons/facebook.svg
  app/assets/icons/github.svg
  app/assets/icons/gitlab.svg
  app/assets/icons/instagram.svg
  app/assets/icons/linkedin.svg
  app/assets/icons/mastodon.svg
  app/assets/icons/pinterest.svg
  app/assets/icons/reddit.svg
  app/assets/icons/skype.svg
  app/assets/icons/snapchat.svg
  app/assets/icons/steam.svg
  app/assets/icons/telegram.svg
  app/assets/icons/tiktok.svg
  app/assets/icons/twitch.svg
  app/assets/icons/twitter.svg
  app/assets/icons/whatsapp.svg
  app/assets/icons/youtube.svg
Due: none

feat: add stylescheet paths
  app/assets/styles/fonts.css
  app/assets/styles/global.css
  app/layouts/meta.astro
Due: js-lint, js-format

feat: add icon asset dimensions
  .astro/icon.d.ts
  app/assets/icons/codepen.svg
  app/assets/icons/discord.svg
  app/assets/icons/email.svg
  app/assets/icons/facebook.svg
  app/assets/icons/github.svg
  app/assets/icons/gitlab.svg
  app/assets/icons/instagram.svg
  app/assets/icons/linkedin.svg
  app/assets/icons/mastodon.svg
  app/assets/icons/pinterest.svg
  app/assets/icons/reddit.svg
  app/assets/icons/skype.svg
  app/assets/icons/snapchat.svg
  app/assets/icons/steam.svg
  app/assets/icons/telegram.svg
  app/assets/icons/tiktok.svg
  app/assets/icons/twitch.svg
  app/assets/icons/twitter.svg
  app/assets/icons/whatsapp.svg
  app/assets/icons/youtube.svg
Due: js-lint

feat: update project types
  app/@types/globals.d.ts
  app/@types/jsx.d.ts
  app/@types/misc.d.ts
  app/@types/project.d.ts
  app/env.d.ts
Due: js-lint

feat: update helper/util fns
  app/helpers/date-format.ts
  app/helpers/dom.ts
  app/helpers/error.ts
  app/helpers/guards.ts
  app/helpers/load-google-fonts.ts
  app/helpers/log-in-dev.ts
  app/helpers/misc.ts
  app/helpers/singleton.ts
  app/helpers/time.ts
  app/utilities/arrays.ts
  app/utilities/singleton.ts
  app/utilities/time.ts
  app/utils/arrays.ts
  app/utils/numbers.ts
  app/utils/objects.ts
  app/utils/strings.ts
Due: js-lint

feat: update dummy content
  app/content/journal/2024/11/19-move-bitch-get-out-the-way.md
  app/content/journal/ill-never-let-you-go.md
  app/content/journal/just-testing.md
  app/content/journal/sample-markdown.mdx
  app/content/pages/accessibility.md
Due: js-format

chore(file): commit all files
  .gitattributes
  .gitignore
Due: none

chore: migrate project manager to Yarn Berry 4
  .vscode/settings.json
  shardoice.code-workspace
Due: js-lint

feat: setup content collections
  app/content/archives/index.ts
  app/content/archives/template.mdoc
  app/content/config.ts
  app/content/drafts/index.ts
  app/content/drafts/template.mdoc
  app/content/projects/index.ts
  app/content/projects/template.mdoc
  app/content/sandbox/index.ts
  app/content/sandbox/routes.json
  app/content/schema/index.ts
Due: js-lint, js-format

ci: configure project linting, formatting, typecheck and ci/cd settings
  .eslintignore
  .lefthook/.gitkeep
  .lefthook/commit-msg/commitlint.sh
  .oxlintrc.json
  .prettierrc
  .vscode/settings.json
  app/@types/jsx-astro.d.ts
  app/@types/jsx-preact.d.ts
  lefthook.yml
  tsconfig.json
Due: js-lint, js-format

ci: setup Astro plugins and config
  app/global.css
  app/globals.css
  astro.config.ts
  config/dotenv.ts
  config/experiments.ts
  config/images.ts
  config/integrations.ts
  config/markdown.ts
  package.json
  pnpm-lock.yaml
Due: js-lint, js-format

chore(packages): bumps deps to latest
  package.json
  pnpm-lock.yaml
Due: js-lint, js-format

feat: scaffold 404 page
  app/content/routes/404.md
  app/pages/404.astro
Due: js-lint, js-format

feat: update content config
  app/content/config.ts
  app/content/projects/index.ts
  app/content/projects/notezone/index.mdx
  app/content/sandbox/authors.yml
  app/content/sandbox/index.ts
  app/content/sandbox/labels.yml
  app/content/sandbox/routes.json
  app/content/sandbox/routes.yml
  app/content/sandbox/shares.yml
  app/content/sandbox/socials.yml
  app/content/schema/index.ts
Due: js-lint, js-format

feat: update content config
  app/@types/misc.d.ts
  app/content/archives/index.ts
  app/content/config.ts
  app/content/drafts/template.mdoc
  app/content/projects/index.ts
  app/content/routes/about-me.md
  app/content/routes/blog.md
  app/content/routes/home.md
  app/content/routes/journals.md
  app/content/routes/offline.md
  app/content/routes/projects.md
  app/content/sandbox/authors.yml
  app/content/sandbox/index.ts
  app/content/sandbox/labels.yml
  app/content/sandbox/routes.yml
  app/content/sandbox/socials.yml
  app/content/schema/index.ts
Due: js-lint, js-format

ci: update app config
  .config/dotenv.ts
  .config/experiments.ts
  .config/iconify.json
  .config/images.ts
  .config/integrations.ts
  .config/markdown.ts
  .config/options.ts
  .config/plugins.ts
  .oxlintrc.json
  .prettierrc
  .vscode/extensions.json
  .vscode/settings.json
  astro.config.ts
  lefthook.yml
  sentry.client.config.ts
  sentry.server.config.ts
Due: js-lint, js-format

Path conditions:
  js-lint: any of: *.{js,ts,mjs,jsx,tsx,json,astro}
  js-format: any of: *.{astro,md,mdx,mdoc,prisma,yml,yaml}
  rust-lint: any of: *.rs
  rust-autofix: any of: *.rs
  rust-format: any of: *.rs
